<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <div class="heading"> <p>Learning Management System</p> </div>
                    <button mat-icon-button (click)="toggleSidebar()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
        
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button mat-button class="user mt-2 d-flex align-items-center">
                        <img src="./assets/lang.png" alt="" class="user-image mr-1 p-2" />
                        English
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                        <mat-icon class="other-icon">open_with</mat-icon>
                        <mat-icon class="other-icon">help</mat-icon>
                    </button>
                    
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>