<div class="container-fluid page">
    <div class="page__content p-3 position-relative">
        <h1>Dashboard</h1>
        
        <div class = "row" name="row-for-all-the-dashboard-cards"> 
            <div style="max-width: 275px; padding:auto;">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>Enrolled Courses</mat-card-title> 
                        <mat-card-subtitle>2</mat-card-subtitle>
                        <img src = "./assets/bluecircle.png" mat-card-avatar>
                    </mat-card-header>
                    
                </mat-card>
            </div>
            <div style="max-width: 275px; margin:auto; padding:auto;">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Learners</mat-card-title> 
                        <mat-card-subtitle>3</mat-card-subtitle>
                        <img src = "./assets/greencircle.png" mat-card-avatar>
                    </mat-card-header>
                </mat-card>
            </div>
            <div style="max-width: 275px; margin:auto; padding:auto;">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>Materials</mat-card-title> 
                        <mat-card-subtitle>0</mat-card-subtitle>
                        <img src = "./assets/yellowcircle.png" mat-card-avatar>
                    </mat-card-header>
                </mat-card>
            </div>
            <div style="max-width: 275px; padding:auto;">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>Certificate</mat-card-title> 
                        <mat-card-subtitle>1</mat-card-subtitle>
                        <img src = "./assets/redcircle.png" mat-card-avatar>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>

        <br>
        <h1>Courses</h1>
        <div name="contains-big-card-for-courses" class="CourseContainer">
               
                <div style="min-width: 300px; padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>    
                
                <div style="min-width: 300px; margin:auto; padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

                <div style="min-width: 300px; margin:auto;padding:0.5rem; ">
                    <mat-card style="background: #2C439C !important;">
                        <mat-card-header>
                            <mat-card-title>Operating Systems</mat-card-title> 
                        </mat-card-header>
                    </mat-card>
                </div>  

        </div>
        
        <br>
        <h1>Statistics</h1>
        <div name = "will-hold-charts">
            <div class="row">
                <div style="max-width: 60%; padding:0.5rem;">
                    <mat-card >
                    </mat-card>
                </div>
                <div style="max-width: 40%; margin:auto; padding:0.5rem;">
                    <mat-card>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>