:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
}
.logo {
    text-align: center;
    padding: 0rem;
    margin-top: -5px;
    /* background: #2C439C; */
}
.logo img {
    width: 150px;
    /* height: 30px; */
}
.mat-divider {
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
}
.mat-list-item:hover {
    color: #f4f4f4 !important;
}
.mat-list-item ::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 8px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
    background: #2c3344 !important;
}
.list-item-active {
    /* background: #2C439C !important; */
    border-radius: 0 2rem 2rem 0;
    color: #f4f4f4 !important;
}
.list-item-active:hover {
    /* background: #2C439C; */
}
.list-item-active ::ng-deep .mat-list-item-content {
    background: #2C439C !important;
}
.list-item-active ::ng-deep .mat-list-item-content:hover {
    background: #2c3344 !important;
}
.mat-subheader {
    color: #818cf8;
    font-size: 0.7rem;
    font-weight: bolder;
    letter-spacing: 1px;
}
